In [60]:
import numpy as np
import pandas as pd

In [74]:
'''Task 1.
1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below'''

#input list
input_list=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
#window size
k=3
output_list=[]

#iterate through the input_list over a window size k = 3
for i in range(len(input_list)):
    
    #moving window index
    window = i + k
    
    #break the loop if moving window index exceeds the input_list size
    if(window > len(input_list)):
        break
    
    #store elements in window size and calculate the average
    output_array= np.take(input_list,range(i, window))
    print("Output array of window size 3: " + str(output_array))
    output_list.append(int(np.average(output_array)))
    
#print all moving average sequence
print("Moving average sequence: %s"% output_list)

Output array of window size 3: [3 5 7]
Output array of window size 3: [5 7 2]
Output array of window size 3: [7 2 8]
Output array of window size 3: [ 2  8 10]
Output array of window size 3: [ 8 10 11]
Output array of window size 3: [10 11 65]
Output array of window size 3: [11 65 72]
Output array of window size 3: [65 72 81]
Output array of window size 3: [72 81 99]
Output array of window size 3: [ 81  99 100]
Output array of window size 3: [ 99 100 150]
Moving average sequence: [5, 4, 5, 6, 9, 28, 49, 72, 84, 93, 116]

In [ ]:
#Task 2

In [79]:
'''1. How-to-count-distance-to-the-previous-zero 
For each value, count the difference back to the previous zero (or the start of the Series,whichever is closer)  
create a new column 'Y' 
Consider a DataFrame df where there is an integer column 'X' 
import pandas as pd 
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) 
 '''
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [62]:
'''2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of  random numbers.''' 
import datetime as dt

start = dt.date( 2015, 1, 1 )
end = dt.date( 2015,12 ,31)


businessDay_index = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
business_day = pd.Series(np.random.rand(len(businessDay_index)), index=businessDay_index)
business_day

2015-01-01    0.917259
2015-01-02    0.786277
2015-01-05    0.684010
2015-01-06    0.827561
2015-01-07    0.451768
2015-01-08    0.782965
2015-01-09    0.069151
2015-01-12    0.778884
2015-01-13    0.134762
2015-01-14    0.248504
2015-01-15    0.832174
2015-01-16    0.882316
2015-01-19    0.362342
2015-01-20    0.423307
2015-01-21    0.766982
2015-01-22    0.782541
2015-01-23    0.595198
2015-01-26    0.600075
2015-01-27    0.559645
2015-01-28    0.774404
2015-01-29    0.758573
2015-01-30    0.257852
2015-02-02    0.533417
2015-02-03    0.735847
2015-02-04    0.874047
2015-02-05    0.368677
2015-02-06    0.790087
2015-02-09    0.578407
2015-02-10    0.542157
2015-02-11    0.644017
                ...
2015-11-20    0.707522
2015-11-23    0.265460
2015-11-24    0.324218
2015-11-25    0.495176
2015-11-26    0.308519
2015-11-27    0.278937
2015-11-30    0.961721
2015-12-01    0.117543
2015-12-02    0.428062
2015-12-03    0.270418
2015-12-04    0.658477
2015-12-07    0.450288
2015-12-08    0.481079
2015-12-09    0.164854
2015-12-10    0.410939
2015-12-11    0.870588
2015-12-14    0.748184
2015-12-15    0.627473
2015-12-16    0.148338
2015-12-17    0.307521
2015-12-18    0.551914
2015-12-21    0.281748
2015-12-22    0.245416
2015-12-23    0.081064
2015-12-24    0.192791
2015-12-25    0.571823
2015-12-28    0.600109
2015-12-29    0.681800
2015-12-30    0.032882
2015-12-31    0.694913
Freq: B, Length: 261, dtype: float64

In [70]:
'''3.Find the sum of the values in s for every Wednesday '''

business_day[businessDay_index.weekday == 2].sum()

26.499509565580315

In [71]:
'''4. Average For each calendar month '''

business_day.groupby(businessDay_index.month).mean()

1     0.603480
2     0.594918
3     0.483040
4     0.472659
5     0.472254
6     0.492348
7     0.584847
8     0.452300
9     0.503594
10    0.530362
11    0.490965
12    0.418184
dtype: float64

In [72]:
'''5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred. '''
business_day.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-01
2015-05-31   2015-05-11
2015-09-30   2015-09-10
2016-01-31   2015-10-06
dtype: datetime64[ns]